
MiscUtil/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MiscUtil.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MiscUtil.PerformanceTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
